body{
    
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
  
  }
  @media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
  }

  h1{ 
      text-align: center;
      font-style: italic;
  }

